
/* src/styles/loginModal.css */
.login-modal {
    position: fixed;
    top: 250%; /* Centra el modal verticalmente */
    right: -100%; /* Inicia fuera de la vista a la derecha */
    transform: translateY(20%);
    width: 280px; /* Ajusta el ancho del modal */
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s; /* Suaviza la entrada y salida */
}

.login-modal.show {
    right: 0.5em; /* Desliza el modal a la posición visible */
    display: block; /* Muestra el modal cuando la clase 'show' está presente */
    transition: opacity 0.5s ease-in-out; /* Transición para aparecer */
    visibility: visible;
}

.modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: right 0.5s ease-in-out;
}


.close-button {
    position: absolute;
    top: -15px;
    LEFT: -15px;
    background-color: rgba(207, 209, 211, 0.841); /* Fondo azul con 50% de opacidad */
    border: none;
    color: #fff; /* Color del ícono en blanco */
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
    border-radius: 25%; /* Haciendo el botón circular */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.close-button:hover {
    color: #ff5722; /* Cambia el color del ícono a naranja al pasar el ratón */
    background-color: transparent; 
}

input {
    width: 100%;
    padding: 8px 10px; /* Relleno más pequeño */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Bordes más suaves */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007BFF; /* Color azul al enfocar */
    outline: none;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-row button {
    background-color: #73a5d9;
    color: #fff;
    padding: 8px 12px; /* Relleno reducido para botones más pequeños */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.85rem; /* Tamaño de fuente reducido */
    flex: 1;
    margin-right: 5px; /* Espacio reducido entre botones */
}

.button-row button:last-child {
    margin-right: 0;
    background: none; 
    background-color: transparent; 
    border: none; 
    color: blue; 
    cursor: pointer; 
}

.button-row button:hover {
    background-color: #0056b3;
}

.button-row button:hover:last-child {
    background-color: #0056b3;
    color: #fff;
}

.google-login-button {
    background-color: #edb5b0;
    color: white;
    padding: 8px 12px; /* Botón más pequeño */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 0.85rem; /* Tamaño de fuente reducido */
}

.google-login-button:hover {
    background-color: #c33428;
}

.error-message {
    color: #ff5722;
    margin-bottom: 10px;
    font-size: 0.85rem; /* Tamaño de fuente reducido para el mensaje de error */
    text-align: center;
}

.register-button {
    background-color: #C3988B; /* Color mate dorado-rosado */
    color: white;
    padding: 8px 12px; /* Botón más pequeño */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 0.85rem;
}

.register-button:hover {
    background-color: #B08D79; /* Un dorado ligeramente más oscuro al pasar el cursor */
}
